.perfil-list{
  padding-top: 10px;
  padding-bottom: 10px;
}
.titulo-perfil{
  color:#83CF69;
}
.btn-perfil{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 1.3px;
    cursor:pointer;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color:#83CF69;
    border-radius: 10px;
    margin-left: 80px;
    float: right;
}
.prueba{
  text-align: center;
}

@media (max-width: 500px) {
  .prueba{
    text-align: left;
  }
}
.list-clases{
  color: #83CF69;
  font-size: 24px;
  border-bottom: solid 2px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-family:sans-serif;
}
.icono-flecha{
  color: #83CF69;
  float:right;
}
.nav-bar-green{
  background-color:#83CF69 !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    background-color: white !important;
    color: #83CF69;
}
.tab-item{
  color: white;
  background-color:#63c342 !important;
}
.titulo-clases{
  font-size: 32px !important;
  font-family: serif;
  text-align: left !important;
  float: left;
  color: white;
}
