/* Empty. Add your own CSS if you like */
.photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:        6;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.photos{
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
}
/*.especie-img{

  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 300px;
  display: flex !important;
  justify-content: center !important;

}*/
.icono_registro{
    font-size: 60px;
    text-align: center;
    color:#33cd5f;
}

.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 325px !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 0px !important;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  background-color: #fff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; }
}
.menu-list{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center !important;
    color:grey !important;
    font-size: 15px;
}
@media(max-height: 400px){
.menu-list {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }
  .ion-nifty-modal{
    height: 270px !important;
  }
}
@media(max-height: 300px){
.menu-list {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }
  .ion-nifty-modal{
    height: 270px !important;
  }
}
@media(max-height: 250px){
.menu-list {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .ion-nifty-modal{
    height: 270px !important;
  }
}
@media(max-height: 200px){
.menu-list {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .ion-nifty-modal{
    height: 250px !important;
  }
}

.menu-icon{
  font-size: 45px;
  color:#83CF69;
   float:right;
   display: block;
   margin-top: -20px;
   position: relative;
   z-index: 1;
}
.avistamiento-title{
  background-color:#33cd5f;
  text-align: left;
  justify-content:center;
}
.icon-menu{
  font-size: 35px;
  padding-left: 30px;
}
.foot-clases{
padding-top: 20px !important;
}
.item-registro{
  border-bottom: 1px solid;
}
.back-button{
  border: none;
}
.scroll {
  min-height: 100%;

}

.close-btn{
    position: absolute;
    top: -20px;
    right: 30px;
    background-color: #33cd5f;
    color: #fff;
    height: 50px;
    width: 50px;
    z-index: 100;
}
.close-span{
  position: absolute;
  top:25px;
  right: 17px;
  color:#fff;
  font-size: 20px;
  text-align: center;
}
.historial-title{
  text-align: center;
  color:grey;
  font-size: 20px;
}
#clases {
  background-color: white;

}
.clases-container {
    overflow: auto;
    display: block;
}
.clases-box {
    -webkit-backface-visibility: hidden;
    float: left;
    display: inline-block;
    width: 33.33%;
    height: 0;
    padding-bottom: 25%;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #f2f2f2 solid 1px;
}
.clases-box .info {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.75em 1.5em;
    display: block;
    width: 100%;
    background-color: transparent;
}
@media(max-width: 600px){
.clases-box {
    width: 50%;
    padding-bottom: 55%;
    -webkit-column-count: 1;
  }
}
.nuevo-avistamiento{
  background-color:#65cb87;
  border-color:#33cd5f;
  text-align:left;

}
.btn-registro{
  background-color:#33cd5f !important;
}
.footer{
  background-color:#33cd5f !important;
  position: relative;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
}
.titulo-registro{
  font-size: 18px;
  padding-top:20px;
}
.card-tittle{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white !important;
}
.icono-dash{
  color:#33cd5f !important;
  float: right;
  font-size: 25px;
}
.titulo-dash{
  color: grey !important;
  font-size: 20px !important;
  text-align: center;
}
.card-dash{
  background-color: white !important;
}
.card-desc{
  font-size: 14px !important;
  color: grey !important;
  text-align: justify !important;
}
.gris{
  color: grey;
}
.icon-social{
  justify-content: center;
  padding:10px;
  text-align: center;
  font-size: 40px !important;
  color:#33cd5f;
}
.social{
  text-align: center;

}
/*Login START*/
.login-title{
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 1em;
}

.login-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo.jpeg') no-repeat center center fixed;
  /*-webkit-filter: blur(4px);*/
  position: fixed;
  z-index: -1;
}
/* go avistamiento html*/
.avistamiento-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/avistamiento-min.jpg") no-repeat center center fixed;
  /*-webkit-filter: blur(4px);*/
  position: fixed;
  z-index: -1;
}
.titulo-avistamiento{
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 0.7em !important;
  padding-bottom: 0.6em;
}
.btn-avistamiento{
  border-color: white !important;
  color: white !important;
  font-size: 21px !important;

}

/* End avistamiento html*/
/*Login END*/

/*SignUp START*/
.signup-btn{
  text-align: center;
  color: white;
  font-size: 16px;
}

.signup-form{
  margin-top: 10em;
}
/*SignUp END*/

.profile-bg {
        position: fixed;
        left: 0;
        width: 100%;
        background-size: 100%;
        text-align: center;
        background-color: #f2f2f2;
      }
.profile-bg-2 {
  position: fixed;
  left: 0;
  width: 100%;
  /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
  background-size: 100%;
  background-color: #f2f2f2;
}
.centro{
  text-align: center;
}
#content {
    position: relative;
     margin-top: 90px;
     background-color: white;
     padding-top: 270px;
}
.content-profile {
    position: relative;
     margin-top: 90px;
     background-color: white;
     padding-top: 195px;
}
#content-edit {
  position: relative;
  margin-top: 90px;
  background-color: white;
  padding-top: 150px;
}

#profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
#profile-name {
        color: #BDBDBD;
        font-size: 26px;
      }
#profile-name-input{
  margin-top: 10px;
}
#profile-name-edit {
  color: #BDBDBD;
  font-size: 26px;
  margin-top: 15px;
  text-align: center;
}

#profile-description {
        font-size: 15px;
        color: #888;
      }
#profile-description a {
        color: #888;
      }
.lef{
        text-align: left;
      }
.stayli{
        background-color: white;
      }
#profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #f1f1f1;
        width: 120px;
        height: 120px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
#desc-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #f1f1f1;
        width: 180px;
        height: 180px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
.list-item {
        color: #666666;
      }

.post {
        color: #444;
      }

.letColor{
  color:#444;
}

.post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
}
.img-panel{

  display: block;
  margin-left: auto;
  margin-right: auto;

}
.info-clase{
  display: inline-flex;
  color: #bbb;
  text-align: left;
}
.mono{
  color: #805a3f;
}
.delfin{
  color: #2980b9;
}
.aves{
  color:#f1c40f;
}
.plantas{
  color:#2ecc71;
}
.tortuga{
  color: #006700;
}
.rana{
  color: #c0392b;
}
.image-mihistorial{
  height: 150px;
}
.justificado{
    text-align: justify;
}

/*Parallax*/

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  }
  .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%);
    }

.especie-img{
  box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  height: 23.125em;
  width: 100%;
}
.especie-img-col{
  width: 100%;
}
.card-row{
  height: 5px;
  background-color: red;
}
@media(min-width: 500px){
  .especie-img{
    width: 70%;
  }
}
@media(min-width: 600px){
  .especie-img{
    width: 60%;
  }
}
@media(min-width: 700px){
  .especie-img{
    width: 50%;
  }
}
.historial-card{
  border-top: 3px solid #65cb87 !important;
  color:#AAAAAA;
}
.historial-card h2{
  color: #666666;
}
.historial-card h3{
  color: #AAAAAA;
}
.histo-bar{
  background-color: #33cd5f;
  color: white;
}
.icons-cards{
  color:#33cd5f;
  float:right;
  font-size:25px;
}
.icons-especies{
  color:#AAAAAA;
  float:right;
  font-size:45px;
}
/*Go ashboard color: #BDBDBD;*/
.panel{
  height: 160px;
  width: 100%;
  /*background-color: #ecefff*/;
}
.panel h1, h2, h3, p{
  color: #BDBDBD;
}
/*Welcome*/
.panel-primary{
  height: 135px;
  text-align: center;
  display: inline-block;
  padding-top: 2.7em;
}
/*Image*/
.panel2 {
  background-color: #b0bec5;
}


/*What is?*/
.panel-tertiary{
  display: inline-block;
  text-align: justify;
  padding-top: 60px;
}
.panel-tertiary p{
  padding-top: 1.4em;
}
/*Image*/
.panel-quaternary{
  width:100%;
  height:160px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/corcovado.jpg") no-repeat center center;
  z-index: -1;
}
.panel-quaternary p{
  padding-left: 5.6em;
  padding-top: 3.6em;
}
/*Mision*/
.panel-quinary{
  height: 180px;
  display: inline-block;
}
.panel-quinary h3{
  padding-top: 0.6em;
  text-align: left;
}
.panel-quinary p{
  text-align: justify;
}
/*Image*/
.panel-senary{
  width:100%;
  height:160px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/matapalo.jpg") no-repeat center center;
  z-index: -1;
}
.panel-senary p{
  padding-left: 5.6em;
  padding-top: 3.6em;
}
/*Vision*/
.panel-septenary{
  display: inline-block;
  height: 180px;
}
.panel-septenary h3{
  padding-top: 0.6em;
  text-align: left;
}
  .panel-septenary p{
  text-align: justify;
}
/*Colaborators, developers*/
.panel-octonary{
    background-color: #263238;
    text-align: center;
    height: 217px
}

/*End dashboard*/
/*Colos*/
.text-primary-color{
  color: #52c578 !important;
}
.text-secondary-color{
  color: #65cb87 !important;
}
.text-color-white{
  color: white !important;
}
.back-color-primary{
  background-color: #52c578 !important;
}
.back-color-secondary{
  background-color: #65cb87 !important;
}
.back-color-white{
  background-color: white !important;
}
.back-color-grey{
  background-color: #f2f2f2;
}
.text-color-primary{
  color: #BDBDBD !important;
}
/*End color*/
.custom-card{
  border-top: 3px solid #65cb87 !important;
  color:#AAAAAA;
}
.profile-bg{
    position: fixed;
    left: 0;
    width: 100%;
    background-size: 100%;
    text-align: center;
    background-color: #f2f2f2;
}
.izquierda{
  text-align: left;
}
.blanco{
  color:white;
}
.text-custom{
  padding: 0 11px 0 11px;
}
.img-avistamiento{
  width: 150px;
  display: block;
  width: 120px;
  height: 120px;
  margin: 60px auto 0;
}
.img-dashi{
  display: block;
  width: 120px;
  height: 120px;
  margin: 20px auto 0;
}
