<ion-view>
  <ion-nav-title class="titulo-clases">
     Clases
   </ion-nav-title>
  <ion-nav-bar class="nav-bar-green">
 </ion-nav-bar>
  <ion-content class="background-content">
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-50">
        <div class="list-clases" ng-click="listaMamiferos()">
          Mamiferos
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
        <br>
        <div class="list-clases" ng-click="listaReptiles()">
          Reptiles
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
        <br>
        <div class="list-clases" ng-click="listaAves()">
          Aves
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
        <br>
        <div class="list-clases" ng-click="listaPeces()">
          Peces
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
        <br>
        <div class="list-clases" ng-click="listaAnfibios()">
          Anfibios
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
        <br>
        <div class="list-clases" ng-click="listaPlantas()">
          Plantas
          <span class="icon ion-chevron-right pull-right icono-flecha"></span>
        </div>
    </div>
      <div class="col">
      </div>
  </div>
  </ion-content>
</ion-view>
