<ion-view>
  <ion-nav-bar class="bar">
    <ion-nav-buttons side="secondary">
        <a style="color:#33cd5f" class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
    <ion-nav-title class="titulo-animales balanced">
      Avistamientos
     </ion-nav-title>
 </ion-nav-bar>
    <ion-content padding="false" class="has-header profile-bg-2">
      <div class="footer">
            <div class="nuevo-avistamiento">
                <div ng-click="nuevoAvistamiento()" class="item item-text-wrap title nuevo-avistamiento">
                    <h1 class="title" style="color:white">
                        <i style="font-size:50px;float:right;margin-right:10px;" class="icon ion-ios-plus-outline"></i>
                        Nuevo
                    </h1>
                    <h1 class="title" style="color:white">
                        Avistamiento
                    </h1>
                </div>
            </div>
          </div>
        <div class="card">
          <div class="item item-icon-left">
            <i class="icon ion-ios-time-outline balanced"></i>
            <h3 class="balanced centro">Mis últimos avistamientos</h3>
          </div>

        </div>
        <div class="list list-inset card">
            <a class="item item-avatar item-thumbnail-left" ng-click="registrarEspecie()">
                <img src="images/ardilla_coliroja.png">
                <h2>Ardilla coliroja</h2>
                <p>Sciurus granatensis</p>
            </a>
            <a class="item item-avatar item-thumbnail-left">
            <img src="images/ardilla_alfaro.png">
            <h2>Ardilla enana de Alfaro</h2>
            <p>Microsciurus alfari</p>
          </a>
          <a class="item item-avatar item-thumbnail-left">
            <img src="images/cabro_de_monte.png">
            <h2>Cabro de monte</h2>
            <p>Mazama temana</p>
          </a>
        </div>
    </ion-content>
</ion-view>
