<ion-view>
  <ion-nav-bar class="bar">
    <ion-nav-buttons side="secondary">
        <a style="color:#33cd5f" class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
    <ion-nav-title class="titulo-animales balanced">
      Avistamientos
     </ion-nav-title>
 </ion-nav-bar>
    <ion-content padding="false" class="has-header avistamiento-bg">
      <div class="row responsive-sm">
        <div class="col">
          <h2 class="titulo-avistamiento">
            Registrar nuevo avistamiento
          </h2>
          <button ng-click="nuevoAvistamiento()" class="button icon-left ion-ios-plus-outline  button-block button-outline btn-avistamiento">
              Nuevo avistamiento
          </button>
        </div>
      </div>
    </ion-content>
</ion-view>
<!--ng-click="nuevoAvistamiento()"-->
