<ion-view view-title="MonitoreOsa">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
 </ion-nav-bar>
  <ion-content class="padding profile-bg-2">
    <div class="card card-dash" ng-click="infoAscona()">
      <div class="item item-divider card-tittle">
        <div>
          <p class="title titulo-dash">ASCONA
            <span class="icon ion-chevron-right pull-right icono-dash"></span>
          </p>
        </div>
      </div>
  </div>
  <div class="card ">
    <div class="item item-divider card-tittle">
      <div>
        <p class="title titulo-dash">Mision y Vision
          <span class="icon ion-chevron-right pull-right icono-dash"></span>
        </p>
      </div>
    </div>
</div>
    <div class="card item-divider">
      <div class="item item-divider card-tittle">
        <div>
          <p class="title titulo-dash">Colaboradores
            <span class="icon ion-chevron-right pull-right icono-dash"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="social">
      <a class="icon ion-social-instagram icon-social"></a>
      <a class="icon ion-social-facebook icon-social"></a>
    </div>
    <div class="list card">
      <div class="item item-text-wrap">
        <div>
          <p class="card-desc">
            MONITOREOSA  es una aplicación de servicio comunitario  para avistamiento de animales y plantas para un mejor control y cuido de las especies que habitan la zona.
          </p>
          <p class="card-desc">
            Esta es la primera iniciativa mundial para este proposito, para que las personas de la comunidad se eduquen y cuiden los animales que los rodean fomentando el no maltrato ni caza a ellos.
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
