<ion-view view-title="MonitoreOsa">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
 </ion-nav-bar>
  <ion-content class="padding profile-bg-2">
    <div class="card">
        <h2 id="profile-name" class="centro">Bienvenido</h2>
        <p class="gris centro">
          ¡Gracias por formar parte de MonitoreOsa!
        </p>
    </div>
    <div class="card">
      <div class="list">
        <div class="item item-icon-left">
          <i class="icon ion-ios-flame-outline balanced"></i>
          <p>
            Misión y visión
          </p>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-ios-people-outline balanced"></i>
          <p>
            Colaboradores
          </p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-text-wrap">
        <div>
          <p class="card-desc">
            MONITOREOSA <span><i class="icon ion-ios-paw-outline balanced mono"></i></span>  es una aplicación de servicio comunitario  para avistamiento de animales y plantas para un mejor control y cuido de las especies que habitan la zona.
          </p>
          <p class="card-desc">
            Esta es la primera iniciativa mundial para este proposito, para que las personas de la comunidad se eduquen y cuiden los animales que los rodean fomentando el no maltrato ni caza a ellos.
          </p>
        </div>
      </div>
    </div>
    <div class="social">
      <a class="icon ion-social-instagram icon-social"></a>
      <a class="icon ion-social-facebook icon-social"></a>
    </div>
  </ion-content>
</ion-view>
