<ion-view title="Desarrolladores">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button>
      <a class="icon ion-ios-arrow-back back-button"></a> Regresar
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
 </ion-nav-bar>
    <ion-content padding="false" class="has-header profile-bg-2">
      <section>
        <div class="list card" ng-repeat="dev in developers">
            <a class="item item-text-wrap historial-card balanced">
              <span  class="icons-cards ion-social-angular"></span>
                <h2>{{dev.nombre}}</h2>
                <h3>{{dev.telefono}}</h3>
                <h3>{{dev.correo}}</h3>
            </a>
        </div>
      </section>
    </ion-content>
</ion-view>
