<ion-view view-title="Información">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button>
      <a class="icon ion-ios-arrow-back back-button"></a> Regresar
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
 </ion-nav-bar>
 <ion-content  padding="false" class="profile-bg">
      <div class="row">
        <div class="especie-img-col col">
          <img class="especie-img"  src="{{especie.imagen}}" />
          <h3 id="profile-name">{{especie.nombre}}</h3>
          <p class="text-secondary-color">
            {{especie.nombre_cientifico}}
          </p>
        </div>
      </div>
      <div class="card custom-card">
        <h4 class="text-secondary-color">Descripción</h4>
        <p class="letColor text-custom justificado text-color-primary">
          {{especie.descripcion}}
        </p>
      </div>
      <div class="card custom-card">
        <h4 class="text-secondary-color">Hábitat</h4>
        <p class="letColor text-custom justificado text-color-primary">
          {{especie.habitat}}
        </p>
      </div>
      <button class="bar button back-color-primary text-color-white" ng-click="registrarEspecie()">
        Registrar
      </button>
    </ion-content>
</ion-view>
