<ion-view view-title="Iniciar sesión">
  <ion-content class="login-bg" ng-controller="iniciar-sesionCtrl">
     <div class="login-title">
       MonitoreOsa
     </div>
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" name="username" placeholder="Correo" ng-model="correo">
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Contaseña" ng-model="contrasena">
        </label>
      </div>
      <div class="padding-horizontal">
        <button type="button" name="submitBtn" class="button button-full button-balanced" ng-click="ingresar()">
          Ingresar
        </button>
      </div>
    </form>
    <div class="signup-btn">
      <a ng-click="registrarse()">o crea una cuenta nueva</a>
    </div>
</ion-content>
</ion-view>
<!--<ion-view view-title="Iniciar sesión">
  <ion-content class="padding login-bg">
    <div class="login-title">
        MonitoreOsa
    </div>
    <form>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" name="username" placeholder="Correo" ng-model="correo">
      </label>
      <label class="item item-input">
        <input type="password" name="password" placeholder="Contaseña" ng-model="contrasena">
      </label>
    </div>
    <div class="padding-horizontal">
      <button type="button" name="submitBtn" class="button button-full button-balanced" ng-click="ingresar()">
        Ingresar
      </button>
    </div>
    </form>
      <div class="signup-btn">
        <a ng-click="registrarse()">o crea una cuenta nueva</a>
      </div>
  </ion-content>
</ion-view>-->
