<ion-view view-title="Iniciar sesión">
  <ion-nav-bar class="bar back-color-primary text-color-white">
 </ion-nav-bar>
  <ion-content class="login-bg" ng-controller="iniciar-sesionCtrl">
     <div class="login-title">
       MonitoreOsa
     </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" name="username" placeholder="Correo" ng-model="correo">
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Contaseña" ng-model="contrasena">
        </label>
      </div>
      <div class="padding-horizontal">
        <button type="button" name="submitBtn" class="button button-full back-color-secondary text-color-white" ng-click="ingresar()">
          Ingresar
        </button>
      </div>
    <div class="signup-btn">
      <a ng-click="registrarse()">o crea una cuenta nueva</a>
    </div>
</ion-content>
</ion-view>
