<ion-view view-title="Mi historial">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="profile-bg-2">
    <div class="card">
      <div class="item item-text-wrap centro">
        <p>
          Cantidad de avistamientos
        </p>
        <h2 class="balanced">1</h2>
      </div>
    </div>
    <div class="list card">
    <div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-location-outline balanced"></i>
        <h2>Ardilla coliroja</h2>
        <p>Sciurus granatensis</p>
      </div>
      <div class="item item-image">
        <img class="image-mihistorial"src="images/ardilla.jpg">
      </div>
      <a class="item item-icon-right" ng-click="verInfoHistorial()">
        <i class="icon ion-ios-arrow-right balanced"></i>
        <p>
          Ver avistamiento
        </p>
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
