<ion-view view-title="Mi perfil">
  <ion-content class="background-content">
    <div class="card">
      <div class="item item-body">
        <div class="list">
            <a class="item item-avatar">
              <img src="https://www.google.com/search?q=mono+titi&es_sm=91&source=lnms&tbm=isch&sa=X&ved=0CAcQ_AUoAWoVChMIgfmt6sW7yAIVhqUeCh05tA6j&biw=1280&bih=684&dpr=2#imgrc=M5z0oUNpXtDbhM%3A">
            <button class="button button-outline button-balanced">
              Editar Perfil
             </button>
             </a>
             <h2 class="tittle">Información personal</h2>

             <div class="list list-inset">
               <div class="item">1-1497-0050</div><!--{{usuario.cedula}} -->
               <div class="item">Mathias Muller</div>
               <div class="item">27/3/1992</div>
             </div>

             <h2 class="tittle">Información de seguridad</h2>
             <div class="list list-inset">
               <div class="item">mathias@gmail.com</div>
               <div class="item">8311-6532</div>
             </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
