<ion-view view-title="Mi perfil">
  <ion-content class="padding background-content">
    <div class="prueba list card">
      <div class="item item-body">
            <a class="item item-avatar">
              <img src="MacintoshHD/Users/Mathias/Desktop/Mastigodryas%20melanolomus.jpg">
            <button class="btn-perfil">
              Editar Perfil
             </button>
             </a>
             <h2 class="titulo-perfil">Información personal</h2>

             <div class="list list-inset">
               <div class="item">1-1497-0050</div><!--{{usuario.cedula}} -->
               <div class="item">Mathias Muller</div><!--{{usuario.Nombre}} -->
               <div class="item">27/3/1992</div><!--{{usuario.FechaNacimiento}} -->
             </div>

             <h2 class="titulo-perfil">Información de seguridad</h2>

             <div class="list list-inset">
               <div class="item">mathias@gmail.com</div>
               <div class="item">8311-6532</div>
             </div>
      </div>
    </div>
  </ion-content>
</ion-view>
