<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content>
      <div class="close-btn" ng-click="closeModal()">
        <span class="icon ion-close-round close-span"></span>
      </div>
          <a class="item menu-list" ng-click="goInicio()" id="inicio">
              <span>INICIO</span>
          </a>
          <a class="item menu-list" ng-click="goAvistamientos()">
            <span>AVISTAMIENTOS</span>
          </a>
          <a class="item menu-list" ng-click="goHistorial()">
            <span>MI HISTORIAL</span>
          </a>
          <a class="item menu-list" ng-click="goPerfil()">
            <span>MI PERFIL</span>
          </a>
        </ion-content>
      </div>
</ion-modal-view>
