<ion-view>
  <ion-nav-bar class="bar">
    <ion-nav-buttons side="secondary">
        <a style="color:#33cd5f" class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
 </ion-nav-bar>
  <ion-nav-title class="titulo-animales balanced">
       Registro exitoso
   </ion-nav-title>
  <ion-content padding="false"; class="profile-bg">
      <div class="footer">
            <div class="nuevo-avistamiento">
                <div ng-click="regresar()" class="item item-text-wrap title nuevo-avistamiento">
                    <h1 class="title" style="color:white">
                        <i style="font-size:50px;float:right;margin-right:10px;" class="icon ion-ios-plus-outline"></i>
                        Nuevo
                    </h1>
                    <h1 class="title" style="color:white">
                        Avistamiento
                    </h1>
                </div>
            </div>
          </div>
          <div class="card">
            <div class="list">
              <div class="item item-icon-left">
                <i class="icon ion-ios-close-outline assertive"></i>
                <button class="button button-outline button-assertive" ng-click="cancelarRegistro()">
                    Cancelar registro
                  </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="list">
              <div class="item item-divider lef stayli">
                <h2 class="balanced">Datos de complemento</h2>
              </div>
              <div class="item item-icon-left">
                <i class="icon ion-ios-camera-outline balanced"></i>
                <button class="button button-outline button-balanced" ng-click="getPhoto()">
                    Tomar foto
                  </button>
              </div>

              <div class="item item-icon-left">
                <i class="icon ion-image balanced"></i>
                <button class="button button-outline button-balanced" ng-click="getPhotoFromLibrary()">
                    Ingresar imagen
                  </button>
              </div>
              <div class="item item-icon-left">
                <i class="icon ion-ios-list-outline balanced"></i>
                <button class="button button-outline button-balanced" ng-click="getPhoto()">
                    Ingresar comentario
                  </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="list">
              <div class="item item-divider lef stayli">
                <h2 class="balanced">Información del avistamiento</h2>
              </div>
              <div class="item item-icon-left">
                <i class="icon ion-ios-paw-outline balanced"></i>
                <p>
                  {{especie.nombre}}
                </p>
              </div>

              <div class="item item-icon-left">
                <i class="icon ion-ios-calendar-outline balanced"></i>
                <p>
                  {{fecha}}
                </p>
              </div>

              <div class="item item-icon-left">
                <i class="icon ion-ios-time-outline balanced"></i>
                <p>
                  {{hora}}
                </p>
              </div>
            </div>
          </div>
  </ion-content>
</ion-view>
