<ion-view title="Clases">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button>
      <a class="icon ion-ios-arrow-back back-button"></a> Regresar
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content padding="false" class="has-header">
  <section id="clases">
    <div class="clases-container">
      <div class="clases-box" style="background-color:orange" ng-click="verMamiferosTerrestres()">
        <div class="info">
          <h5>{{titulo}}</h5>
        </div>
      </div>
      <div class="clases-box" ng-click="verMamiferosAcuaticos()">
        <div class="info">
          <h5>Mamiferos Acuáticos</h5>
        </div>
      </div>
      <div class="clases-box" style="background-color:pink" ng-click="verAnfibios()">
        <div class="info">
          <h5>Anfibios</h5>
        </div>
      </div>
      <div class="clases-box" style="background-color:purple" ng-click="verAves()">
        <div class="info">
          <h5>Aves</h5>
        </div>
      </div>
      <div class="clases-box"style="background-color:red"  ng-click="verReptiles()">
        <div class="info">
          <h5>Reptiles</h5>
        </div>
      </div>
      <div class="clases-box" style="background-color:grey" ng-click="verPlantas()">
        <div class="info">
          <h5>Plantas</h5>
        </div>
      </div>
    </div>
  </section>
    </ion-content>
</ion-view>
