<ion-view title="Clases">
  <ion-nav-bar class="bar bar-balanced">
    <ion-nav-back-button>
      <a class="icon ion-ios-arrow-back back-button"></a> Regresar
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
        <a class="icon ion-android-menu icon-menu" ng-click="openModal()" ng-controller="MenuCtrl"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content padding="false" class="has-header">
  <section id="clases">
    <div class="clases-container">
      <div class="clases-box" ng-click="verMamiferosTerrestres()">
        <div class="info">
          <h5 class="info-clase">Mamiferos Terrestres</h5>
          <img class="img-panel" src="images/Monkey-128.png">
        </div>
      </div>
      <div class="clases-box" ng-click="verMamiferosAcuaticos()">
        <div class="info">
          <h5 class="info-clase">Mamiferos Acuáticos</h5>
          <img class="img-panel" src="images/Dolphin-128.png">
        </div>
      </div>
      <div class="clases-box" ng-click="verAves()">
        <div class="info">
          <h5 class="info-clase" >Aves</h5>
            <img class="img-panel" src="images/Eagle-128.png">
        </div>
      </div>
      <div class="clases-box" ng-click="verPlantas()">
        <div class="info">
          <h5 class="info-clase" >Plantas</h5>
            <img class="img-panel" src="images/Tree-01-128.png">
        </div>
      </div>
      <div class="clases-box" ng-click="verAnfibios()">
        <div class="info">
          <h5 class="info-clase" >Reptiles y anfibios marinos</h5>
            <img class="img-panel" src="images/Turtle-128.png">
        </div>
      </div>
      <div class="clases-box" ng-click="verReptiles()">
        <div class="info">
          <h5 class="info-clase" >Reptiles y anfibios terrestres</h5>
            <img class="img-panel" src="images/Frog-128.png">
        </div>
      </div>
    </div>
  </section>
    </ion-content>
</ion-view>
