<ion-view view-title="Registrarse">
  <ion-nav-bar class="bar back-color-primary text-color-white">
 </ion-nav-bar>
  <ion-content class="back-color-grey" ng-controller="SignUpCtrl">
    <div class="login-title text-primary-color">
        MonitoreOsa
    </div>
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Cédula</span>
          <input id="cedula" type="text" ng-model="cedula">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input id="nombre" type="text" ng-model="nombre">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Apellido</span>
          <input id="apellido" type="text" ng-model="apellido">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Correo</span>
          <input id="correo" type="text" ng-model="correo">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Teléfono</span>
          <input id="telefono" type="tel" ng-model="telefono">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fecha nacimiento</span>
          <input id="fecha" type="text" placeholder="dd/mm/yy"ng-model="fecha">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Contraseña</span>
          <input id="contrasena" type="password" ng-model="contrasena">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirmar Contraseña</span>
          <input id="contrasena-confirmar" type="password" ng-model="contrasenaConfirmar">
        </label>
      </div>
      <div class="padding-horizontal">
        <button type="button" name="submitBtn" class="button button-full back-color-secondary text-color-white" ng-click="registrar()">
          Registrarse
        </button>
      </div>
  </ion-content>
</ion-view>
