<ion-view view-title="MonitoreOsa">
  <ion-content class="padding background-content">
    <div class="list card ">
      <div class="item item-divider card-tittle">
        <div>
          <h3 style="text-align:center">ASCONA
            <span class="icon ion-chevron-right pull-right"></span>
          </h3>
        </div>
      </div>
  </div>
  <div class="list card ">
    <div class="item item-divider card-tittle">
      <div>
        <h3 style="text-align:center">Mision y Vision
          <span class="icon ion-chevron-right pull-right"></span>
        </h3>
      </div>
    </div>
</div>
    <div class="list card item-divider">
      <div class="item item-divider card-tittle">
        <div>
          <h3 style="text-align:center">Colaboradores
            <span class="icon ion-chevron-right pull-right"></span>
          </h3>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-text-wrap">
        <div>
          <p>
            MONITOREOSA  es una aplicación de servicio comunitario  para avistamiento de animales y plantas para un mejor control y cuido de las especies que habitan la zona.
Esta es la primera iniciativa mundial para este proposito, para que las personas de la comunidad se eduquen y cuiden los animales que los rodean fomentando el no maltrato ni caza a ellos.
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
